/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.chat-div {
  position: absolute;
  width: 400px;
  min-width: 400px;
  min-height: 500px;
  height: 700px;
  right: 10px;
  bottom: 20px;
  background-color: #fcfcfc;
  z-index: 1000;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  border: 1px solid #00000020;
  &-title {
    width: 96%;
    padding: 0 2%;
    height: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #00000010;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-ic {
      width: 20px;
      height: 20px;
    }
    .close-btn {
      display: flex;
      height: 100%;
      margin-top: 3px;
      align-items: center;
    }
  }
  .drag-div {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    .drag {
      width: 20px;
      height: 20px;
    }
    .left-drag {
      cursor: sw-resize;
      border-bottom-left-radius: 10px;
      background-repeat: no-repeat;
      background-image: linear-gradient(
        45deg,
        #d0d0d060 50%,
        rgba(255, 255, 255, 0) 50%
      );
    }
    .right-drag {
      cursor: se-resize;
      border-bottom-right-radius: 10px;
      background-image: linear-gradient(
        -45deg,
        #d0d0d060 50%,
        rgba(255, 255, 255, 0) 50%
      );
    }
  }
}

.chat-div-dark {
  background-color: rgb(24, 24, 28);
  box-shadow: 3px 3px 6px #66666630;
  border: 1px solid #363636;
  .chat-div-title {
    border-bottom: 1px solid #bababa50;
  }
}
